header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    margin: 1.5%;
    font-family: 'Montserrat', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.card-header{
    margin-bottom: 0%;
    font-family: 'Oswald', sans-serif;
}

.card-description{
    display: flex;
    text-align: center;
}

button{
    background-color: purple;
    color: white;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

button:hover{
    background-color: rgb(116, 76, 116);
}